.navigation {
    height: 100%;
    width: 156px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    position: fixed; /*fixed?*/
    top: 0;
    right: 0;
    padding: 0.5rem 0rem;
    background-color: #6E2F78;
    color: white;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    /*margin-left: 1rem;*/
    margin: 1rem 0;
    text-align: center;
}

.icon {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    /*margin-left: 1rem;*/
    text-align: center;
    margin: 17rem 0;
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: auto;*/
}

.navigation-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 1.5rem 0;
}

.navigation-menu li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.hamburger {
    display: none;
}
