.navigation {
    height: 100%;
    width: 112px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    position: fixed; /*fixed?*/
    top: 0;
    right: 0;
    padding: 0.5rem 0rem;
    background-color: #6E2F78;
    /*background-color: #6E2F78;*/
    color: white;
    /*box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);*/
}

.brand-name {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin-left: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.icon {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    /*margin-left: 1rem;*/
    text-align: center;
    margin-top: 200%;
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: auto;*/
}

.navigation-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 1.2rem 0;
}

.navigation-menu li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.hamburger {
    display: none
}

#navLogo {
  width: 72px;
  height: 72px;
}
#homeLogo {
  width: 36px;
  height: 36px;
}
#playLogo {
  width: 36px;
  height: 24px;
}
#socialLogo {
  width: 36px;
  height: 27px;
}
#archiveLogo {
  width: 36px;
  height: 36px;
}
#loginLogo {
  width: 36px;
  height: 36px;
}
#iconLogo {
  width: 48px;
  height: 48px;
}


/*@media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
}


@media screen and (max-width: 768px) {
    .navigation-menu ul {
      display: none;
    }
}


@media screen and (max-width: 768px) {
    .navigation-menu ul {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 112px;
      height: 100%;
      background-color: #6E2F78;
      border-top: 1px solid black;
      display: none
    }
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 1.5rem 0;
    }
    .navigation-menu li:hover {
      background-color: #eee;
    }
}

@media screen and (max-width: 768px) {
    .navigation-menu.expanded ul {
      display: block;
    }
}*/
