MONGO_USER = username
MONGO_PWD = your password
MONGO_CLUSTER = xxxxxxxxx.mongodb.net
MONGO_DB = collection name (eg "chessence")
CORS_ORIGIN = where the front end is being served, eg http://localhost:3000
SESSION_SIGNATURE = any random string is fine, used to sign our session hashes