.gameEntry {
    display: flex;
    gap: 3rem;
    background-color: purple;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 1.5rem;
}

.gameEntry p{
    font-family: "JetBrains Mono";
    font-style: bold;
    font-size: 1.5rem;
    color: aliceblue;
}

.gameEntry:hover{
    background-color: black;
}