@media screen and (min-width: 1400px) {
    #archivePage {
        display: flex;
        flex-direction: row;
        gap: 20rem;
        align-items: center;
        justify-content: center;
        background-image: -webkit-linear-gradient(
            30deg,
            #593453 20%,
            #6e2f78 40%,
            white 40%
        );
    }
  }


  @media screen and (max-width: 1400px) {
    #archivePage {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        background-image: -webkit-linear-gradient(
            30deg,
            #593453 20%,
            #6e2f78 40%,
            white 40%
        );
    }
  }
