#archivePage {
    display: flex;
    flex-direction: column;
    background-color: var(--BK-dark-brown);
    overflow: scroll;
    margin: 0 112px 0 0; /* account for the 112px navbar */
}
#archivePage h1 {
    color: var(--BK-beige);
    font-size: 5rem;
}
#archiveContent {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}
