.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.home-container h1 {
    color: var(--BK-dark-brown);
    font-size: 5rem;
    margin-top: -5rem;
}
  
.button-container {
    margin-top: 20px;
}
  
.button {
    padding: .5rem 1rem;
    font-family: "Lexend";
    font-size: 1rem;
    cursor: pointer;
    border: none;

    border-radius: 2rem;
    background-color: var(--BK-green);
    box-shadow: -0.1rem 0.2rem var(--BK-dark-brown);
    color: var(--BK-beige);
    text-align: center;
}

.button:hover {
    background-color: var(--BK-dark-brown)
}