body > #root > div {
    height: 100vh;
}
body {
    margin: 0;
}

/* all variables are accessible in the html element */
html {
    --BK-beige: #f6f1e8;
    --BK-green: #4a7949;
    --BK-brown: #774c3e;
    --BK-dark-brown: #532c1f;
    --BK-link: #2ab7f4;
}

/* default page settings */
body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--BK-beige);
    color: var(--BK-dark-brown);
    font-family: "Lexend";
}

h1 {
    font-family: "Calistoga";
}
