body > #root > div {
    height: 100vh;
}
body {
    margin: 0;
}

/* all variables are accessible in the html element */
html {
    --BK-beige: #F6F1E8;
    --BK-green: #4A7949;
    --BK-brown: #774C3E;
    --BK-dark-brown: #532C1F;
    --BK-link: #2AB7F4;
  }

/* default page settings */
body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--BK-beige);
    color: var(--BK-dark-brown);
    font-family: "Lexend";
}

h1 {
    font-family: "Calistoga";
}

/* use className="button" for button styling */ 
.button {
    padding: .5rem 1rem;
    font-family: "Lexend";
    font-size: 1rem;
    cursor: pointer;
    border: none;

    border-radius: 2rem;
    background-color: var(--BK-green);
    box-shadow: -0.1rem 0.2rem var(--BK-dark-brown);
    color: var(--BK-beige);
    text-align: center;
}

.button:hover {
    background-color: var(--BK-dark-brown)
}