#loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loginPage h1 {
    font-size: 4rem;
    margin: 0 0 2rem 0rem;
}

.login-box {
    background-color: #626262;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem 0rem;
    margin: 0 0 2rem 0;
}

.login-box #loginForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
    color: var(--BK-beige);
}

.login-box input {
    height: 1rem;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    background-color: #d9d9d9;
}

.login-box .inputError {
    font-size: 0.75rem;
    color: rgb(255, 168, 211)
}

.login-box .loginLabel {
    font-size: 1rem;
    margin: 0;
}

.login-box #loginForgotPassword {
    font-size: 0.75rem;
    color: var(--BK-link);
    text-align: right;
}

.login-box #centeredLoginFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login-box #loginSubmit {
    font-size: 1rem;
    width: fit-content;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0 2rem 0;
    /*box-shadow: -1px 1px 5px black;*/
    border-style: none;
}
.login-box #loginCreateAccount {
    font-size: 0.75rem;
    margin: 0;
    color: var(--BK-link);
}
.login-box #loginCrown {
    font-size: 3rem;
    margin: 0;
}
