#loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient(30deg, 
        #593453 20%, 
        #6E2F78 40%, 
        white 40%);
}
#loginPage h1 {
    font-family: 'JetBrains Mono';
    font-style: bold;
    font-size: 4rem;
    margin: 0 0 2rem 0rem;
}

.login-box {
    background-color: #626262;
    color: white;
    font-family: 'JetBrains Mono';
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem 0rem;
    margin: 0 0 2rem 0;
}

.login-box #loginForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
}

.login-box input {
    height: 1rem;
    font-size: 1rem;
    padding: .5rem .5rem;
    background-color: #D9D9D9;
}

.login-box .loginLabel{
    font-size: 1rem;
    margin: 0;
}

.login-box #loginForgotPassword {
    font-size: 0.5rem;
    color: #2AB7F4;
}

.login-box #centeredLoginFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-between;
}
.login-box #loginSubmit {
    font-size: 1rem;
    width: fit-content;
    border-radius: 2rem;
    padding: .5rem 1rem;
    margin: 1rem 0 2rem 0;
    /*box-shadow: -1px 1px 5px black;*/
    border-style: none;
    background-color: #8455D1;
    color: white;
    font-family: 'JetBrains Mono';
}
.login-box #loginSubmit:hover {
    background-color: #5b4283;
}
.login-box #loginCreateAccount {
    font-size: 0.5rem;
    margin: 0;
    color: #2AB7F4;
}
.login-box #loginCrown {
    font-size: 3rem;
    margin: 0;
}