#gameMove {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--BK-beige);
    padding: 1rem;
    width: 600px;
    overflow: scroll;
    border-radius: 2rem;
}

#gameMove p {
    font-style: bold;
    font-size: 0.7rem;
    color: black;
}
