#ChessBoardPage {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    background-image: -webkit-linear-gradient(
        30deg,
        #593453 20%,
        #6e2f78 40%,
        rgb(255, 255, 255) 40%
    );
    padding-right: 1rem;
}

#GameStartPage{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    background-image: -webkit-linear-gradient(
        30deg,
        #593453 20%,
        #6e2f78 40%,
        rgb(255, 255, 255) 40%
    );
    padding: 2rem 2rem;
    font-family: "JetBrains Mono";

}

#GameResultPage {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    background-image: -webkit-linear-gradient(
        30deg,
        #593453 20%,
        #6e2f78 40%,
        white 40%
    );
}

#timeInput {
    background-color: rgba(96, 108, 110, 0.9);
    color: #ffffff;
    font-size: 30px;
    outline: 0 solid transparent;
    border: 0 solid transparent;
    width: 100%;
    border-radius: 4px;
    padding: 10px 1px;
    width: 150px;
    font-family: "JetBrains Mono";
    text-align: center;
  }


.settings-container {
    background-color: #626262;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'JetBrains Mono';
    width: fit-content;
    border-radius: 2rem;
    gap: 0rem;
    padding: 1rem 2rem;
    margin: 0 0 8rem;
}

.settings-container #settingsSubmit {
    font-size: 1rem;
    width: fit-content;
    border-radius: 2rem;
    padding: .5rem 2rem;
    margin: 2rem 0 1rem 0;
    border-style: none;
    background-color: #8455D1;
    color: white;
    font-family: 'JetBrains Mono';
}
#GameResultPage h1 {
    font-size: medium;
    font-family: "JetBrains Mono";
    font-style: bold;
    font-size: 4rem;
    margin: 10rem 10rem 4rem;
}

#ChessBoardPage h1 {
    font-family: "JetBrains Mono";
    font-style: bold;
    font-size: 4rem;
    margin: 0.5rem 0 4rem;
}

#ChessBoardPage h2 {
    font-family: "JetBrains Mono";
    font-style: bold;
    font-size: 3rem;
    margin: 2rem 0 0 0;
}

#board-logo {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
}

.board-container {
    flex-shrink: 1;
    background-color: #818181;
    color: white;
    font-family: "JetBrains Mono";
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0rem 0rem;
    margin: 2rem;
}

#scoreboard-container {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* width: 300px; 
    height: 800px; */
    background-color: rgba(
        0,
        0,
        0,
        0
    ); /* Gray color (adjust the shade if needed) */
    margin: 2rem 7.8rem 2rem 0rem;
    padding-left: 0%;
    border-radius: 0.5rem;
}

#chatbox {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent; /* Gray color (adjust the shade if needed) */
    margin: 0rem 1rem;
    border-radius: 0.5rem;
}
#scoreboard,
#scoreboard2 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
    font-family: 'Lato', sans-serif;
    background-color: #6e2f78; /* Gray color (adjust the shade if needed) */
    border-radius: 0.5rem;
    margin: 1rem;
    flex-direction: column;
}

#highlightbox {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1rem;
    background-color: transparent; /* Gray color (adjust the shade if needed) */
    border-radius: 0.5rem;
}
#unselectedbox {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1rem;
    background-color: transparent; /* Gray color (adjust the shade if needed) */
    border-radius: 0.5rem;
}
.register-container #registerForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
}

.register-container input {
    height: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #d9d9d9;
}

.register-container .registerLabel {
    font-size: 1rem;
    margin: 0;
}

.register-container #registerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.register-container #registerSubmit {
    font-size: 1rem;
    width: fit-content;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0 1rem 0;
    border-style: none;
    background-color: #8455d1;
    color: white;
    font-family: "JetBrains Mono";
}

.register-container #registerSubmit:hover {
    background-color: #5b4283;
}
