#ChessBoardPage {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
    padding-right: 112px;
    background-color: var(--BK-dark-brown);
}

#GameStartPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
}

#board {
    height: 10px;
}

#test {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #555;
}

#GameResultPage {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
}

#timeInput {
    background-color: rgba(96, 108, 110, 0.9);
    color: #ffffff;
    font-size: 30px;
    outline: 0 solid transparent;
    border: 0 solid transparent;
    width: 100%;
    border-radius: 4px;
    padding: 10px 1px;
    width: 150px;
    text-align: center;
}

.settings-container {
    background-color: #626262;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    border-radius: 2rem;
    gap: 0rem;
    padding: 1rem 2rem;
    margin: 0 0 8rem;
}

.settings-container #settingsSubmit {
    font-size: 1rem;
    width: fit-content;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    margin: 2rem 0 1rem 0;
}
#GameResultPage h1 {
    font-size: medium;
    font-style: bold;
    font-size: 4rem;
    margin: 10rem 10rem 4rem;
}

#ChessBoardPage h1 {
    font-style: bold;
    font-size: 4rem;
    margin: 0;
}

#ChessBoardPage h2 {
    font-style: bold;
    font-size: 3rem;
    margin: 2rem 0 0 0;
}

#board-logo {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
}

.board-container {
    /* flex-shrink: 1; */
    /* flex-grow: .5; */
    overflow-y: scroll;

    height: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    border-radius: 0.5rem;
    padding: 0rem 2rem;
    /* margin: 5rem 2rem; */
}
.board-container h1 {
    color: var(--BK-beige);
}

#scoreboard-container {
    display: flex;
    flex-shrink: 2;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* width: 300px; 
    height: 800px; */
    background-color: rgba(
        0,
        0,
        0,
        0
    ); /* Gray color (adjust the shade if needed) */
    padding: 5.2rem 2rem 0rem 0rem;
}

#chatbox {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent; /* Gray color (adjust the shade if needed) */
    margin: 0rem 1rem;
    border-radius: 0.5rem;
}
.scoreboard {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 0 2rem;
}

.game-timer {
    font-size: 2rem;
    padding-bottom: 1rem;
}
#black-score {
    color: var(--BK-beige);
    background-color: var(
        --BK-brown
    ); /* Gray color (adjust the shade if needed) */
}
#white-score {
    color: var(--BK-dark-brown);
    background-color: var(--BK-beige);
}
.sb-textbox {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent; /* Gray color (adjust the shade if needed) */
    border-radius: 0.5rem;
}
